project:
  type: website

website:
  description: "A blog built with Quarto"
  site-url: https://FranTassara.github.io
  title: "FJT-blog"
  navbar:
    right:
      - about.qmd
      - icon: github
        href: https://github.com/
      - icon: twitter
        href: https://twitter.com
format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css



